{% extends "myapp/base.html" %}
{% load static %}
{% block title %}Login | CARBIB{% endblock %}

{% block content %}

<div class="register-box" style="width: 600px;">
  <div class="card card-outline card-primary">
    
    <div class="card-header text-center">
      <img src="{% static 'img/carbib_logo.png' %}" alt="CARBIB Logo" width="150">
    </div>

    <div class="card-body">
      <p class="login-box-msg">Member Login</p>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
      
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="row mb-3">
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
          </div>
        </div>
      
        <div class="text-center">
          <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
          <p><a href="{% url 'login' %}">Forgot your password?</a></p>
        </div>
      </form>
      
    </div>
  </div>
</div>
{% endblock %}
